<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class='login-body'>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col>
          <div class='heading'>
            <h4>Login</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="text" placeholder="Username" [(ngModel)]="userid"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button size="large" expand="block" (click)="validateLogin()">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>